.container {
    width: 80%;
    height: 600px;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}

#orange {
    align-self: center;
    /* align-self: flex-end; */

}

h1 {
    text-align: center;
}

.container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}