h1 {
    border: 2px solid black;
    width: 50%;
}

#outer {
    height: 300px;
    width: 300px;
    background-color: pink;
    margin: 50px;
}

#inner {
    height: 10%;
    width: 10%;
    background-color: cornflowerblue;
    margin-left: 10%;
}