div {
    height: 200px;
    width: 200px;
    background-color: #4dff00ff;
    margin-inline: auto;
    transition: all 3s ease 0s;
}

div:hover {
    /* border-radius: 50%; */
    margin-top: 300px;
    background-color: magenta;
}