h1 {
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px) {
    h1 {
        background-color: red;
        color: white;
    }

    div {
        width: 100px;
        height: 100px;
        background-color: purple;
    }
}

@media (min-width: 700px) {
    h1 {
        background-color: greenyellow;
    }
}

@media (max-width: 200px) {
    h1 {
        background-color: pink;
    }
}

@media (min-width: 200px) and (max-width: 300px) {
    h1 {
        background-color: magenta;
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: aqua;
        color: brown;
    }
}

@media (orientation: portrait) {
    h1 {
        background-color: green;
        color: yellow;
    }
}